.cart-icon {
    position: relative;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & .shopping-icon{
        height: 24px;
        width: 24px;
    }

    & .item-count {
        position: absolute;
        font-size: 11px;
        font-weight: bold;
        bottom: 12px;
    }
}