.App {
  & .app-wrapper {
    padding-top: 100px;
  }
}

a {
  text-decoration: none;
  color: gray;
  
  &:hover{
    color: black;
  }
}

.option {
  @extend a;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}